/* body:before {
  content: "";
    display: block;
    position: absolute;
    height: 100%;
    border: 1px solid red;
    left: 50%;
} */

canvas {
  display: block;
}

#coins {
  /* margin-top: 20px; */
  background: url(./stars-bg.bb100d663537a5c9c7d6.svg) 50%/contain #0e0e16;
  height: 750px;
  position: relative;
}

.orbit {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  --r: 2em;
  --dur: .2s;
}
.orbit1 {
  --r: 4.8em;
  --dur: .3s;
}
.orbit2 {
  --r: 7.6em;
  --dur: .4s;
}
@media (max-width: 800px) {
  .orbit {
    font-size: 40px;
  }
}

@media (max-width: 520px) {
  .orbit {
    font-size: 30px;
  }
}

.orbit .coin {
  position: absolute;
  cursor: pointer;
  --ro: calc(var(--i) / var(--n) * 1turn);
  transform: rotate(var(--ro)) translateY(var(--r)) rotate(calc(-1 * var(--ro)));
  transition: transform var(--dur);
}
.orbit.selected .coin {
  --ro: calc(var(--i) / (var(--n) - 1) * 1turn);
}
.coin.selected ~ .coin {
  --ro: calc((var(--i) - 1) / (var(--n) - 1) * 1turn);
}
.orbit.selected .coin.selected {
  --r: 0;
}

.coin::before, .coin::after {
  position: absolute;
  content: '';
  width: 1em;
  height: 1em;
  transform: translate(-50%, -50%);
}

.coin::before{
  border-radius: 100%;
  /* transform: scale(1); */
  background: rgb(20 67 101 / 50%);
  border: 1px solid #1e81c8;
}

.coin::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 70%;
}

.has-active .coin {
  opacity: 0.3;
}

.has-active .coin.active,
.has-active .coin:hover {
  opacity: 1;
  filter: drop-shadow(0 0 10px #558ed1);
}


* {
  padding: 0;
  margin: 0;
  outline: 0;
  overflow: visible;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}



#el0::after {background-image: url(./icons/Stride40.png);}
#el1::after {background-image: url(./icons/Persistance40.svg);}
#el2::after {background-image: url(./icons/Secret40.svg);}
#el3::after {background-image: url(./icons/Stargaze40-2.png);}
#el4::after {background-image: url(./icons/Sommelier40.png);}
#el5::after {background-image: url(./icons/Umee40.png);}
#el6::after {background-image: url(./icons/Agoric40.png);}
#el7::after {background-image: url(./icons/Akash40.svg);}
#el8::after {background-image: url(./icons/Axelar40.png);}
#el9::after {background-image: url(./icons/Canto40.png);}
#el8::after {background-image: url(./icons/Comdex40.png);}
#el10::after {background-image: url(./icons/Cosmos40.svg);}
#el11::after {background-image: url(./icons/Crescent40.png);}
#el12::after {background-image: url(./icons/Cronos40.png);}
#el13::after {background-image: url(./icons/Crypto40.svg);}
#el14::after {background-image: url(./icons/Evmos40-2.png);}
#el15::after {background-image: url(./icons/Injective40.svg);}
#el16::after {background-image: url(./icons/IRIS40.svg);}
#el17::after {background-image: url(./icons/Juno2-40.svg);}
#el18::after {background-image: url(./icons/Kujira40.png);}
#el19::after {background-image: url(./icons/Osmosis40.svg);}
#el20::after {background-image: url(./icons/Injective40.svg);}
#el21::after {background-image: url(./icons/Crescent40.png);}
#el22::after {background-image: url(./icons/Cronos40.png);}
#el23::after {background-image: url(./icons/Crypto40.svg);}
#el24::after {background-image: url(./icons/Evmos40-2.png);}
#el25::after {background-image: url(./icons/Injective40.svg);}
#el26::after {background-image: url(./icons/IRIS40.svg);}
#el27::after {background-image: url(./icons/Juno2-40.svg);}
#el28::after {background-image: url(./icons/Kujira40.png);}
#el29::after {background-image: url(./icons/Osmosis40.svg);}
#el30::after {background-image: url(./icons/Injective40.svg);}
#el31::after {background-image: url(./icons/Crescent40.png);}
#el32::after {background-image: url(./icons/Cronos40.png);}
#el33::after {background-image: url(./icons/Crypto40.svg);}
#el34::after {background-image: url(./icons/Evmos40-2.png);}
#el35::after {background-image: url(./icons/Injective40.svg);}
#el36::after {background-image: url(./icons/IRIS40.svg);}
#el37::after {background-image: url(./icons/Juno2-40.svg);}
#el38::after {background-image: url(./icons/Kujira40.png);}
#el39::after {background-image: url(./icons/Osmosis40.svg);}
#el40::after {background-image: url(./icons/Crescent40.png);}